@charset "utf-8";
/* CSS Document */
.scoreboard {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	width: 300px;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
}

.scoreboard__name, .scoreboard__score {
	padding: 10px;
	text-align: center;
}

.scoreboard__name {
	font-weight: bold;
	border-bottom: 1px solid #C0C0C0;
}

.scoreboard__name--one {
	color: #21A47E;
}
.scoreboard__name--two {
	color: #9A11CF;
}
.scoreboard__score {
	font-size: 2em;
}

.scoreboard__controls {
	display: flex;
}

.scoreboard__control-button {
	flex-grow: 1;
	border: none;
	background: #D8D8D8;
	cursor: pointer;
	font-size: 1.2em;
}

.scoreboard__control-button:hover {
	background: #A5ACF0;
}

.scoreboard__control-button:active {
	background: #24D038;
}
